<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
</head>
<body>
    <!-- <h1>Crear producto</h1>
    <form action="post" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre">
        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion">
        <button type="submit"></button>
    </form> -->
    <h1>Mascota Creada:</h1>
    <p>Nombre: {{ mascota.nombre }}</p>
    <p>Raza: {{ mascota.raza }}</p>
    <p>Edad: {{ mascota.edad }}</p>
    <h1>Mascota Creada:</h1>
    <p>Nombre: {{ mascota2.nombre }}</p>
    <p>Raza: {{ mascota2.raza }}</p>
    <p>Edad: {{ mascota2.edad }}</p>
</body>
</html>