<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los Productos </title>
</head>
<body>
    <h1>Lista de todos los productos</h1>
    {% for productos in productos %}
        <li>{{productos.id}} {{productos.nombre}} {{productos.precio}} {{productos.stock_actual}}</li>
    {% endfor %}

    <br> <a href="crearProducto"><button>Crear Producto</button> </a></br>
    <br> <a href="crearProveedor"><button>Crear Proveedor</button> </a></br>
    <br> <a href="listaProveedores"><button>Ver Proveedores</button> </a></br>
</body>
</html>